<a href="https://colab.research.google.com/github/saikrishnababu12/ML-projects/blob/main/heat_disease_prediction/heart_disease_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [5]:
data_set=pd.read_csv("/content/drive/MyDrive/heart_disease_data.csv")
data_set.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [6]:
data_set.shape

(303, 14)

In [7]:
a=data_set.isnull().sum()
print(a)

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [8]:
d=data_set.describe()
print(d)

              age         sex          cp    trestbps        chol         fbs  \
count  303.000000  303.000000  303.000000  303.000000  303.000000  303.000000
mean    54.366337    0.683168    0.966997  131.623762  246.264026    0.148515
std      9.082101    0.466011    1.032052   17.538143   51.830751    0.356198
min     29.000000    0.000000    0.000000   94.000000  126.000000    0.000000
25%     47.500000    0.000000    0.000000  120.000000  211.000000    0.000000
50%     55.000000    1.000000    1.000000  130.000000  240.000000    0.000000
75%     61.000000    1.000000    2.000000  140.000000  274.500000    0.000000
max     77.000000    1.000000    3.000000  200.000000  564.000000    1.000000

          restecg     thalach       exang     oldpeak       slope          ca  \
count  303.000000  303.000000  303.000000  303.000000  303.000000  303.000000
mean     0.528053  149.646865    0.326733    1.039604    1.399340    0.729373
std      0.525860   22.905161    0.469794    1.161075    0.616226    1.022606
min      0.000000   71.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000  133.500000    0.000000    0.000000    1.000000    0.000000
50%      1.000000  153.000000    0.000000    0.800000    1.000000    0.000000
75%      1.000000  166.000000    1.000000    1.600000    2.000000    1.000000
max      2.000000  202.000000    1.000000    6.200000    2.000000    4.000000

             thal      target
count  303.000000  303.000000
mean     2.313531    0.544554
std      0.612277    0.498835
min      0.000000    0.000000
25%      2.000000    0.000000
50%      2.000000    1.000000
75%      3.000000    1.000000
max      3.000000    1.000000

In [9]:
data_set['target'].value_counts()

target
1    165
0    138
Name: count, dtype: int64

In [10]:
x=data_set.drop(columns='target',axis=1)
y=data_set['target']
print(x)
print(y)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal
0        0   0     1
1        0   0     2
2        2   0     2
3        2   0     2
4        2   0     2
..     ...  ..   ...
298      1   0     3
299      1   0     3
300      1   2     3
301      1   1     3
302      1   1     2

[303 rows x 13 columns]
0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [11]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,stratify=y,random_state=2)
print(x_test,x_train)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
255   45    1   0       142   309    0        0      147      1      0.0
72    29    1   1       130   204    0        0      202      0      0.0
83    52    1   3       152   298    1        1      178      0      1.2
268   54    1   0       122   286    0        0      116      1      3.2
92    52    1   2       138   223    0        1      169      0      0.0
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
42    45    1   0       104   208    0        0      148      1      3.0
187   54    1   0       124   266    0        0      109      1      2.2
8     52    1   2       172   199    1        1      162      0      0.5
122   41    0   2       112   268    0        0      172      1      0.0
19    69    0   3       140   239    0        1      151      0      1.8

     slope  ca  thal
255      1   3     3
72       2   0     2
83       1   0     3
268      1   2     2
92       2   4     2
..     ...  ..   ...
42       1   0     2
187      1   1     3
8        2   0     3
122      2   0     2
19       2   2     2

[61 rows x 13 columns]      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
61    54    1   1       108   309    0        1      156      0      0.0
238   77    1   0       125   304    0        0      162      1      0.0
160   56    1   1       120   240    0        1      169      0      0.0
158   58    1   1       125   220    0        1      144      0      0.4
289   55    0   0       128   205    0        2      130      1      2.0
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
100   42    1   3       148   244    0        0      178      0      0.8
49    53    0   0       138   234    0        0      160      0      0.0
300   68    1   0       144   193    1        1      141      0      3.4
194   60    1   2       140   185    0        0      155      0      3.0
131   49    0   1       134   271    0        1      162      0      0.0

     slope  ca  thal
61       2   0     3
238      2   3     2
160      0   0     2
158      1   4     3
289      1   1     3
..     ...  ..   ...
100      2   2     2
49       2   0     2
300      1   2     3
194      1   0     2
131      1   0     2

[242 rows x 13 columns]

In [13]:
model=LogisticRegression()
k=model.fit(x_train,y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [14]:
x_train_prediction=model.predict(x_train)
training_accuracy=accuracy_score(x_train_prediction,y_train)
print(training_accuracy)

0.8512396694214877

In [15]:
x_test_prediction=model.predict(x_test)
test_accuracy=accuracy_score(x_test_prediction,y_test)
print(test_accuracy)

0.819672131147541

In [20]:
dataset=(63,1,3,145,233,1,0,150,0,2.3,0,0,1)
input_datanum=np.asarray(dataset)
input_data_reshape=input_datanum.reshape(1,-1)
prediction=model.predict(input_data_reshape)
print(prediction)
if(prediction[0]==0):
  print("person does not have heart disease")
else:
  print("person has heart disease")

[1]
person has heart disease

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(